<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>
<body>

    <header class="main-header">
        <div class="container nav-inner">
            <a href="/" class="logo">🚀 {{ config.title }}</a>
            <nav>
                <a href="/">QG</a>
                <a href="/actu">Actualités</a>
                <a href="/missions">Missions</a>
                <a href="/blog">Blog</a> <a href="/equipe">Équipage</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <div class="container">
            <p><strong>{{ config.title }}</strong></p>
            <p>{{ config.description }}</p>
            <hr style="opacity: 0.1; margin: 20px 0;">
            <p style="font-size: 0.8rem;">© 2026 - Agence Spatiale Zola</p>
        </div>
    </footer>

</body>
</html>